<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="content-fluid-main">

  <!-- NAVBAR START -->
  <header class="header-inner">
    <div class="row justify-content-between">
      <div class="col-2 col-xl-3 d-flex align-items-center">
        <div class="brand">
          <a class="brand d-flex" href="#">
            <div class="brand-icon"></div>
            <div class="title">{{ title }}</div>
          </a>
        </div>
      </div>
      <div class="col-auto col-xl-6 d-none d-md-flex align-items-center justify-content-center">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Local</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">&bull; &bull; &bull;</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-auto col-xl-3 d-flex justify-content-end justify-content-lg-end align-items-center">
        <div class="navbar">
          <div class="navbar-collapse">
            <div ngbDropdown class="nav-item dropdown">
              <a class="nav-link btn" id="dropDownMenu" ngbDropdownToggle>
                <div class="flex-row d-inline-flex">
                  <div class="user">
                    <img class="rounded-circle border border-white" id="imageLoged"
                         src="{{url + 'get-image/' + identity.image}}" alt="">
                  </div>
                  <span class="fs-1 ml-2 d-none d-flex justify-content-center align-items-center" id="identityName">
                    {{identity.name + ' ' + identity.surname}}
                  </span>
                </div>
              </a>
              <app-dropdown-menu></app-dropdown-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- NAVBAR END -->

  <div class="pt-3 pt-lg-4"></div>

  <!-- MENU BAR START -->

  <div class="mt-auto mb-3">
    <div class="tabs">
      <ul class="nav d-flex justify-content-between">
        <li class="menu-item">
          <a class="nav-link" [routerLink]="['/artists']" [routerLinkActive]="['actived']">
            <span class="fa fa-music"></span>Artists</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" href="">
            <span class="far fa-newspaper"></span>News</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" href="">
            <span class="fa fa-music"></span>Music</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" [routerLink]="['/playlist']" [routerLinkActive]="['actived']">
            <span class="far fa-list-alt"></span>Playlist</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" href="">
            <span class="fa fa-chart-line"></span>Charts</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" href="">
            <span class="fa fa-music"></span>Genres</a>
        </li>
        <li class="menu-item">
          <a class="nav-link" href="">
            <span class="far fa-play-circle"></span>Videos</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- MENU BAR END -->

  <!-- PAGE SECTION START -->
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- PAGE SECTION END -->

</div>


<div *ngIf="!identity" class="container">
  <div class="row">
    <div class="col-md-6 p-5">
      <h2>Login</h2>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <form method="POST" name="login" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" placeholder="Email" aria-describedby="emailHelp" required
                 #email="ngModel"
                 [(ngModel)]="user.email">
          <small id="emailHelp" class="form-text text-muted">
            <span *ngIf="!email.valid && email.touched">Need an email.</span>
          </small>
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" id="login-password" name="password" placeholder="Password" required
                 #password="ngModel" [(ngModel)]="user.password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="check" name="exampleCheck1">
          <label class="form-check-label" for="check">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col-md-6 p-5">
      <h2>Registre</h2>
      <div *ngIf="succesMessage">
        <div class="alert alert-danger" role="alert">
          {{succesMessage}}
        </div>
      </div>
      <form method="POST" name="registre" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required #name="ngModel"
                 [(ngModel)]="register.name">
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" required #surename="ngModel"
                 [(ngModel)]="register.surname">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required
                 #password="ngModel" [(ngModel)]="register.password">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required #email="ngModel"
                 [(ngModel)]="register.email">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
